* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Hind', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: #eeeeee ;
}

header {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 1rem 0;
}

.hero {
    background-color: rgb(10, 10, 10);
    padding: 2rem 0;
    height: 40vh;
    color: white;
}

.title-feat {
    font-size: 3.25rem;
    letter-spacing: -3px;
}

.title-sub-feat {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

.main {
    max-width: 1100px;
    margin: -3rem auto;
    padding: 3rem 0;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}   

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
}

th {
    background-color: rgb(0, 0, 0);
    border: 2px solid #000;
    color: white;
    padding: .3rem .5rem;
    text-align: center;
}

tr {
    border-radius: 5px;
}

tbody:nth-child(even) {
    background-color: rgba(0, 0, 0, .05);
}

tr:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: all ease 200ms;
}

tbody:nth-child(-n+5) {
    border-left: 2px solid green;
}

tbody:nth-child(5), tbody:nth-child(6) {
    border-left: 2px solid rgb(226, 136, 0);
}

tbody:nth-child(7), 
tbody:nth-child(8),
tbody:nth-child(9),
tbody:nth-child(10),
tbody:nth-child(11),
tbody:nth-child(12),
tbody:nth-child(13) {
    border-left: 2px solid rgb(0, 113, 226);
}

tbody:nth-last-child(-n+4) {
    border-left: 2px solid rgb(128, 0, 0);
}

tbody:first-child {
    border: none;
}

td {
    padding: .5rem;
}

/*  */

span.variacao {
    background-color: green;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.n-pos {
    font-weight: 700;
}


.var-pos {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    text-align: right;
}

.n-time {
    font-weight: 700;
}